<div class="card-body">
  <h5>Add student</h5>
  <div class="col-12">
    <h6>Personal information</h6>
    <input [(ngModel)]="student.name" pInputText type="text" class="form-control p-inputtext-sm mb-3" placeholder="Name" />
    <h6>Add Courses</h6>
    <input [(ngModel)]="courseName" pInputText type="text" class="form-control p-inputtext-sm mb-3" placeholder="Course" />
    <input [(ngModel)]="professorName" pInputText type="text" class="form-control p-inputtext-sm mb-3" placeholder="Professor" />
    <select>
      <option *ngFor="let course of courses; let i = index">{{i}}.{{course.name}}</option>
    </select>
  </div>
  <hr />
  <button type="button" pButton label="Save student" (click)="saveStudent()"></button>
</div>