<div class="card mt-4 mb-4">
  <h4 class="card-header">Welcome, {{user}}!</h4>
  <div class="card-body">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <add-student *ngIf="studentForm"></add-student>
    <button type="button" pButton class="p-button-sm" label="Add Student" (click)="addStudent()"></button>&nbsp; <button *ngIf="studentForm" type="button" pButton class="p-button-sm" label="Cancel" (click)="studentForm = !studentForm"></button>
    <hr>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 10%">ID</th>
          <th style="width: 20%">Name</th>
          <th style="width: 10%">Add Course</th>
          <th style="width: 10%">Professor</th>
          <th style="width: 10%">Save</th>
          <th style="width: 10%">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of pageOfItems; let i = index">
          <td style="width: 10%">{{student.id}}</td>
          <td style="width: 20%">{{student.name}}</td>
          <td style="width: 10%">
            <select [ngModel]="selectedItem" (ngModelChange)="addCourse($event)">
              <option *ngFor="let course of courses" (click)="addCourse($event)">{{course.name}}</option>
            </select>
            <span *ngFor="let studentCourse of student.courses">{{studentCourse}},</span>
          </td>
          <td style="width: 10%"><input value={{student.professor}} [(ngModel)]="student.professor" pInputText type="text" class="form-control p-inputtext-sm mb-3" /></td>
          <td style="width: 10%"><i class="cursor-pointer text-success pi pi-check" (click)="saveStudent(student, i)"></i></td>
          <td style="width: 10%"><i class="cursor-pointer text-danger pi pi-times" (click)="removeStudent(i)"></i></td>
        </tr>
      </tbody>
    </table>
    <jw-pagination [items]="students" (changePage)="onChangePage($event)" [pageSize]="20"></jw-pagination>
  </div>
</div>